.file-row {
    user-select: none;
    cursor: pointer;
}

.ant-table-body {
    max-height: 300px;
    min-height: 300px;
}

.upload-progress-square > .ant-progress-outer > .ant-progress-inner {
    border-radius: 0 !important;
}