.ant-page-header {
	display: none;
}

.ant-pro-top-nav-header-logo {
	user-select: none;
}

.header-button {
	background: transparent !important;
	position: absolute !important;
	font-weight: 700 !important;
	cursor: pointer !important;
	border: none !important;
	top: 3px !important;
	height: 50px !important;
	width: 50px !important;
	color: rgba(0, 0, 0, 0.45) !important;
}